{% extends 'base.html' %}
{% load static %}

{% block extraStyles %}
<script src="https://kit.fontawesome.com/dea7dee501.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesMantenedor.css' %}"/> 
{% endblock %}

{% block extraScripts %}
<script src="{% static 'js/functionsProductos.js' %}"></script>
{% endblock %}

{% block content %}

<h3>Movimiento de {{mov_encabezado.tipo_mov.name}} - Estado {{mov_encabezado.estado}}</h3>

{% if mov_encabezado.estado == 'CREADO' and user_solicitando %}
    <form  method = 'POST' action="{% url 'change_status' mov_encabezado.id %}">
        {% csrf_token %}  
        <input type="hidden" name="new_status" value="SOLICITADO">
        <input type="hidden" name="id_mov" value="{{mov_encabezado.id}}">
        <button class=" btn btn-warning h-red mg-auto" id="btn-add-item"><i class="far fa-angle-double-up"></i> SOLICITAR </button>
    </form>
    <form  method = 'POST' action="{% url 'change_status' mov_encabezado.id %}">
        {% csrf_token %}  
        <input type="hidden" name="new_status" value="CANCELADO">
        <input type="hidden" name="id_mov" value="{{mov_encabezado.id}}">
        <button class=" btn btn-danger h-red mg-auto" id="btn-add-item"><i class="far fa-angle-double-up"></i> CANCELAR </button>
    </form>
{% elif mov_encabezado.estado == 'SOLICITADO' and user_autorizando %}
    <form  method = 'POST' action="{% url 'change_status' mov_encabezado.id %}">
        {% csrf_token %}  
        <input type="hidden" name="new_status" value="AUTORIZADO">
        <input type="hidden" name="id_mov" value="{{mov_encabezado.id}}">
        <button class=" btn btn-success h-red mg-auto" id="btn-add-item"><i class="far fa-check-circle"></i> AUTORIZAR </button>
    </form>    
{% elif mov_encabezado.estado == 'AUTORIZADO' and user_ejecutando %}
    <form  method = 'POST' action="{% url 'change_status' mov_encabezado.id %}">
        {% csrf_token %}  
        <input type="hidden" name="new_status" value="EJECUTADO">
        <input type="hidden" name="id_mov" value="{{mov_encabezado.id}}">
        <button class=" btn btn-success h-red mg-auto" id="btn-add-item"><i class="far fa-check-circle"></i> EJECUTAR </button>
    </form>    
{%endif%}

{% if mov_encabezado %}
    <div class="row">
    <h2 class="col-8">Folio n°: {{mov_encabezado.folio}}</h2>
    <h3 class="col-4">
    {% if mov_encabezado.estado == 'SOLICITADO' or mov_encabezado.estado == 'NO AUTORIZADO' %} 
    {{ mov_encabezado.num_items_solicitado }} items, ${{ mov_encabezado.monto_solicitado }}
    {% elif mov_encabezado.estado == 'AUTORIZADO' %} 
    {{ mov_encabezado.num_items_autorizado }} items, ${{ mov_encabezado.monto_autorizado }}
    {% elif mov_encabezado.estado == 'EJECUTADO' %} 
    {{ mov_encabezado.num_items_ejecutado }} items, ${{ mov_encabezado.monto_ejecutado }}
    {% endif %}
    </h3>
    </div>  
    {% if mov_encabezado.estado == "SOLICITADO" and not user_autorizando  %}
    <h4 class="text-warning" >En espera de autorización</h4>
    {% endif %}
{% endif %}

<div class="row mb-5">
    <div class="col-md-5">
        <div class="card card-default" >
            <div class="card-header">
                {% if user_creando or user_solicitando %}
                    <h3>Actualizar movimiento</h3>
                {% else %}
                    <h3>Detalles</h3>
                {% endif %}
            </div>
            <div class="card-body">
                {% if user_creando or user_solicitando %}
                    <form method="POST">
                        {% csrf_token %}
                        {{encabezado_form}}
                        <input class="btn btn-success" type="submit"
                               value="{% if user_creando %}
                                        Crear
                                      {% elif user_solicitando %}
                                        Actualizar
                                      {% endif %}">
                    </form>
                {% else %}
                    <p class="d-inline-block">Descripción: {{mov_encabezado.descripcion}}</p>
                    <p class="d-inline-block ms-4">Área: {{mov_encabezado.area.name}}</p>
                {% endif %}
            </div>
        </div>
    </div>
    {% if user_solicitando %}
    <div class="col-md-7">
        <div class="card card-default" >
            <div class="card-header">
                <h3>Agregue un producto</h3>
            </div>
            <div class="card-body">
                {% if producto_form %}
                    <form method="POST">
                        {% csrf_token %}
                        {{ producto_form}}
                        <input class="btn btn-primary" type="submit" value="+">
                    </form>
                    {% if posibles_productos %}
                        <p>Existe más de un producto con ese nombre:</p>
                        <ul>
                        {% for producto in posibles_productos.all %}
                            <li>{{producto.cod}} {{producto.name}}</li>
                        {% endfor %}
                            </ul>
                    {% endif %}
                    {% endif %}
            </div>
        </div>
    </div>
    {% endif %}
</div>

{% if mov_encabezado %}
<table class="table table-striped align-text-top">
    <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Cod</th>
            <th scope="col" style="width:40%">Descripción</th>
            <th scope="col" style="width:8%">Cant. Solicitada</th>
            <th scope="col" style="width:8%">Un</th>
            {%if mov_encabezado.estado == "SOLICITADO" or mov_encabezado.estado == "AUTORIZADO" %}
                <th scope="col" style="width:8%">Cant. Autorizada</th>
            {%endif%}
            {%if mov_encabezado.estado == "AUTORIZADO"%}
                <th scope="col" style="width:8%">Cant. Concretada</th>
            {%endif%}
            <th scope="col" style="width:8%">$ Unit</th>
            {% if user_solicitando or user_autorizando or user_ejecutando %}
            <th scope="col">Editar</th>
            {% endif %}
            {% if user_solicitando %}
            <th scope="col">Eliminar</th>
            {% endif %}
        </tr>
    </thead>
    {% for mov_item in mov_encabezado.mov_items.all %}
    <tbody>
        <tr id="tr-{{ mov_item.producto.id }}">
            <td scope="col"><img class="avatar" src="/media/{{ mov_item.producto.img_url }}" alt="Prod Img"></td>
            <td scope="col">{{ mov_item.producto.cod }}</td>
            <td scope="col">{{ mov_item.producto.name }}</td>
            <td scope="col">{{ mov_item.cant_solicitada}}</td>
            <td scope="col">{{ mov_item.producto.unidad_medida.name }}</td>
            {%if mov_encabezado.estado == "SOLICITADO" or mov_encabezado.estado == "AUTORIZADO" %}
                <td scope="col">{% if mov_item.cant_autorizada == None %} 0 {%else%} {{ mov_item.cant_autorizada }} {%endif%}</td>
            {%endif%}
            {%if mov_encabezado.estado == "AUTORIZADO"%}
                <td scope="col">{% if mov_item.cant_ejecutada == None %} 0 {%else%} {{ mov_item.cant_ejecutada }} {%endif%}</td>
            {%endif%}
            <td scope="col">{{ mov_item.producto.precio_unit }}</td>
            <!--td scope="col">{% if mov_item.precio_unit == None %} 0 {%else%} {{ mov_item.precio_unit }} {%endif%}</td-->

            {% if user_solicitando or user_autorizando or user_ejecutando %}
            <td scope="col">
                <form class="form-inline"  method='POST' action="{% url 'edit_item' mov_encabezado.id %}">
                    {% csrf_token %}
                    <input type="hidden" name="id_item" value="{{mov_item.id}}">
                    <input class="col-2" type="number" name="quantity" min="0"
                           value="{% if user_solicitando %}{{mov_item.cant_solicitada}}{% elif user_autorizando %}{{mov_item.cant_autorizada}}{% elif user_ejecutando %}{{mov_item.cant_ejecutada}}{% endif %}">
                    <button class="col-2 btn btn-primary h-red mg-auto" id="btn-add-item"><i class="fas fa-edit"></i></button>
                </form>
            </td>
            {% endif %}
            {% if user_solicitando %}
            <td scope="col">
                <form  method = 'POST' action="{% url 'delete_item' mov_encabezado.id %}">
                    {% csrf_token %}  
                    <input type="hidden" name="id_item" value="{{mov_item.id}}">
                    <input type="hidden" name="id_mov" value="{{mov_encabezado.id}}">
                    <button class=" btn btn-danger h-red mg-auto" id="btn-add-item"><i class="fas fa-trash-alt"></i> </button>
                </form>
            </td>
            {% endif %}
        </tr>
    </tbody>
    {% empty %}
        <tr>
            <td></td>
            <td><p>No hay productos en la lista</p></td>
        </tr>
    {% endfor %}
</table>

{% endif %}

{% endblock %}