<!--MODAL-->
<div class="modal fade" id="movprodModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editModalLabel">Elegir un producto de la lista</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body row">

            <table class="table table-striped">
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col">Cod</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Stock</th>
                    <th scope="col">$ Unit</th>
                    <th scope="col"></th>
                    </tr>
                </thead>
                <tbody id="modal-table-body">
                    <!--load content here-->
                </tbody>
            </table>
        </div>
      </div>
    </div>
  </div>
<!--FIN MODAL-->