{% extends 'base.html' %}
{% load static %}

{% block extraStyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/stylesMantenedor.css' %}"/> 
{% endblock %}

{% block title %}BodegaPro - Productos{% endblock %}

{% block extraScripts %}
<script src="{% static 'js/functionsProductos.js' %}"></script>
{% endblock %}

{% block modales %}
{% include "modalprod.html" %}
{% endblock %}

{% block content %}

<h3>Maestro de Productos</h3>

{% if messages %}
<ul class="messages">    
    {% for message in messages %}    
        <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
    {% endfor %}
</ul>
{% endif %}


<form action="" id="form-filter" method="POST">
    {% csrf_token %}
    <div class="row">
        {% if tipo == 'edit' %}
        <div class="col-md-2 form-floating mb-3">
            <select class="form-select" name="isactive" id="filter-isactive">
                <option value="1" selected>Activos</option>
                <option value="0">Todos</option>
                <option value="-1">Inactivos</option>
            </select>
            <label class="mgl08rem" for="filter-isactive">Estado</label>
        </div>
        {% endif %}
        <div class="col-md-2 form-floating mb-3">
            <select class="form-select" name="familias" id="filter-familia">
                {% if not new_product.familia_id %}
                <option value="0" selected>TODAS</option>
                {% endif %}
                {% for familia in familias %}
                <option value="{{ familia.id }}">{{ familia.name }}</option>
                {% endfor %}
            </select>
            <label class="mgl08rem" for="filter-familia">Familia</label>
        </div>
        <div class="col-md-4 form-floating mb-3">
            <input type="text" class="form-control" id="filter-contains" name="contains" placeholder="Palabras clave..." >
            <label class="mgl08rem" for="filter-contains">Producto contiene...</label>
        </div>

        <button class="col-md-1 btn btn-success h-red" id="btn-filter">Filtrar</button> 
        <button class="col-md-1 btn btn-secondary h-red" id="btn-filter-reset">Borrar</button> 

    </div>
</form>

{% if tipo == 'edit' %}
<form action="{% url 'newproduct' %}" id="form-add-item" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-2 form-floating mb-3">
            <input type="text" class="form-control" id="cod" name="cod" placeholder="Código" 
                value="{{ new_product.cod }}" onblur="chkErrores('cod')" onfocus="eraseError('cod')">
            <label class="mgl08rem" for="cod">Cód</label>
        </div>
        <div class="col-md-3 form-floating mb-3">
            <input type="text" class="form-control" id="name" name="name" placeholder="Descripción" 
                value="{{ new_product.name }}" onblur="chkErrores('name')" onfocus="eraseError('name')">
            <label class="mgl08rem" for="name">Descripción</label>
        </div>
        <div class="col-md-1 form-floating mb-3">
            <select class="form-select" name="unidad_medida" id="unidad_medida">
                {% if not new_product.unidad_medida %}
                <option value="0" selected disabled>Unidad...</option>
                {% endif %}
                {% for unidad in unidades %}
                <option value="{{ unidad.id }}" 
                {% if new_product.unidad_medida and new_product.unidad_medida == unidad.id %}selected{% endif %}>{{ unidad.name }}</option>
                {% endfor %}
            </select>
            <!--label for="unidad_medida">Unidad</label-->
        </div>
        <div class="col-md-2 form-floating mb-3">
            <select class="form-select" name="familia" id="familia">
                {% if not new_product.familia_id %}
                <option value="0" selected disabled>Familia...</option>
                {% endif %}
                {% for familia in familias %}
                <option value="{{ familia.id }}" 
                {% if new_product.familia and new_product.familia == familia.id %}selected{% endif %}>{{ familia.name }}</option>
                {% endfor %}
            </select>
            <!--label for="familia">Familia</label-->
        </div>
        <div class="col-md-2 form-floating mb-3">
            <input class="form-control-file" type="file" name="img_url" style="margin-top: 20px;">
        </div>
        <button class="col-md-1 btn btn-success h-red mg-auto" id="btn-add-item">Agregar</button>    
    </div>
</form>

{% endif %}

<table class="table table-striped">
    <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Cod</th>
          <th scope="col">Descripción</th>
          <th scope="col">Stock</th>
          <th scope="col">Un</th>
          <th scope="col">Familia</th>
          <th scope="col">$ Unit</th>
          {%if tipo == 'edit' %}<th scope="col">ST</th>
          <th scope="col"></th>{% endif %}
        </tr>
    </thead>
    <tbody id="table-body">
        <!--dynamic content here-->
        
    </tbody>
  </table>
  <input type="hidden" value="{{ tipo }}" id="template-tipo">


<script>
    getProductos()
</script>

{% endblock %}